# PyCity Schools My Analysis

•	School budget is conversely related to school performance. Schools with lower average budget/spend per student performed higher. This is evident from the Average Spend based School Analysis.

•	Charter schools perform much higher than District schools. This is evident from the Overall Passing Percentage of Charter (~95%) Vs. District (~73%) schools. 

•	District school students need more help in Math. On average there is a ballpark of 30% gap in performance of District schools Vs. Charter schools.

•	Overall performance of schools appears to be directly related to school size, with performance significantly dropping with large school sizes in the range of 2000-5000 students.

•	As a whole, current analysis is indicative of school performance, however, there is more analysis required across other factors, possibly education of teachers, student special needs etc. to prescribe areas of focus to improve District schools performance.

In [1]:
# Dependencies and Setup
import  os
import pandas as pd
import numpy as np

# File to Load(Remember to Change These)
schoolcsv = os.path.join("Resources","schools_complete.csv")
studentcsv = os.path.join("Resources","students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(schoolcsv)
student_data = pd.read_csv(studentcsv)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#School_data_complete.head()
#school_data_complete.dtypes

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# CAlculate District Summary
total_schools = school_data_complete['school_name'].nunique()

total_students = school_data_complete['student_name'].count()

total_budget = school_data['budget'].sum()

avg_math_score = school_data_complete['math_score'].mean()

avg_read_score = school_data_complete['reading_score'].mean()

overall_passing_rate = (avg_math_score + avg_read_score)/2

pct_math_70 = len(school_data_complete.loc[school_data_complete['math_score']>=70])/total_students

pct_reading_70 = len(school_data_complete.loc[school_data_complete['reading_score']>=70])/total_students

# Create DataFrame with District Summary

summary_df = pd.DataFrame(columns = ["Total Schools", "Total Students","Total Budget", "Average Math Score", 
                                     "Average Reading Score", "Overall Passing Rate", "Math Students(70 or Greater)",
                                     "Reading Students(70 or greater)"],
                          data =[[total_schools, total_students, total_budget, avg_math_score, avg_read_score, 
                                overall_passing_rate, pct_math_70, pct_reading_70]]
                         )
summary_df['Total Budget'] = summary_df['Total Budget'].map("${:,}".format)
           
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Math Students(70 or Greater),Reading Students(70 or greater)
0,15,39170,"$24,649,428",78.985371,81.87784,80.431606,0.749809,0.858055

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
#Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget
#Calculate Schoold Summary Metrics

school_summary_df = school_data_complete.groupby('school_name')


school_type = school_data.set_index('school_name')['type']

tot_students_in_school = school_summary_df['student_name'].count() 

tot_school_budget = school_summary_df['budget'].unique()

per_student_budget = tot_school_budget/tot_students_in_school

school_avg_math = school_summary_df['math_score'].mean()

school_avg_reading = school_summary_df['reading_score'].mean()

mpass_per_school =  school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name") ['student_name'].count()

rpass_per_school = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name") ['student_name'].count()

mpass_per_school = mpass_per_school/tot_students_in_school

rpass_per_school = rpass_per_school/tot_students_in_school

avg_school_score =(mpass_per_school + rpass_per_school)/2

# Capture School summary Metrics in a Dictionary

school_summary_dict = {"School Type": school_type, "Total Students": tot_students_in_school,
                      "Total School Budget": tot_school_budget, "Per Student Budget": per_student_budget,
                      "Average Math Score": school_avg_math, "Average Reading Score": school_avg_reading,
                      "% Passing Math": mpass_per_school, "% Passing Reading": rpass_per_school,
                      "Overall Passing Rate": avg_school_score}

#create a data frame with School Summary

school_summary_dict_df = pd.DataFrame(school_summary_dict)

school_summary_dict_df['Total School Budget'] = school_summary_dict_df['Total School Budget'].astype(float).map("${:,}".format)
school_summary_dict_df['Per Student Budget'] = school_summary_dict_df['Per Student Budget'].astype(float).map("${:,}".format)
school_summary_dict_df['School Type'] = school_summary_dict_df['School Type'].replace('[','')

# Top 5 Performaing Schools list

school_summary_dict_df.sort_values('Overall Passing Rate', ascending=False).head()


#school_summary_dict_df.dtypes

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.0",$582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,"$1,043,130.0",$638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,"$585,858.0",$609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,"$917,500.0",$625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,"$1,319,574.0",$578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [4]:
# Bottom 5 schools based on overll performance

school_summary_dict_df.sort_values('Overall Passing Rate', ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.0",$637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,"$1,884,411.0",$639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,"$1,910,635.0",$655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,"$3,094,650.0",$650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,"$1,763,916.0",$644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [5]:
# Capture average of each Grade
grade_9th= school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby("school_name").mean()

grade_10th= school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby("school_name").mean()

grade_11th= school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby("school_name").mean()

grade_12th= school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby("school_name").mean()

#Merge Grade Summary to convert Rows to Columns. This was also achievable via PivotTable, however, pivoting did not allow for 
#formatting as per instructions

score_summary1= pd.merge(grade_9th,grade_10th, on="school_name",suffixes=('_9th','_10th'))

score_summary2= pd.merge(grade_11th,grade_12th, on="school_name",suffixes=('_11th','_12th'))

score_summary= pd.merge(score_summary1,score_summary2, on="school_name")

math_score_summary = score_summary[['math_score_9th','math_score_10th','math_score_11th','math_score_12th']]


#Remove Index name as per expected format

math_score_summary.index.names = ['']

#Format Percentages

# Need to make copy of the DataFrame to avoid Panda warning "A value is trying to be set on a copy of a slice from a DataFrame."
#Copy seems to be a function with a paramater o deep. deep = True (efault), seems to be like Database Materialied View, wherein change to the original
#DataFrame are not reflected in the copied Data Frame deep=False is like a view, where changes in the original dataframe will be reflected

math_score_summary_copy = math_score_summary.copy()
math_score_summary_copy['math_score_9th']= (math_score_summary_copy['math_score_9th']/100).map('{:.2%}'.format)
math_score_summary_copy['math_score_10th']= (math_score_summary_copy['math_score_10th']/100).map('{:.2%}'.format) 
math_score_summary_copy['math_score_11th']= (math_score_summary_copy['math_score_11th']/100).map('{:.2%}'.format) 
math_score_summary_copy['math_score_12th']= (math_score_summary_copy['math_score_12th']/100).map('{:.2%}'.format)

#Rename Columns as per given format

math_score_summary_copy.rename(columns ={"math_score_9th":"9th","math_score_10th":"10th","math_score_11th":"11th",
                                    "math_score_12th":"12th" })

                          9th    10th    11th    12th

Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [6]:

reading_score_summary = score_summary[['reading_score_9th','reading_score_10th','reading_score_11th','reading_score_12th']]


#Format PErcentage

# Make dataframe copy to set formats to the copy

reading_score_summary_copy= reading_score_summary.copy()

reading_score_summary_copy['reading_score_9th'] = (reading_score_summary_copy['reading_score_9th']/100).map('{:.2%}'.format)
reading_score_summary_copy['reading_score_10th'] = (reading_score_summary_copy['reading_score_10th']/100).map('{:.2%}'.format) 
reading_score_summary_copy['reading_score_11th'] = (reading_score_summary_copy['reading_score_11th']/100).map('{:.2%}'.format) 
reading_score_summary_copy['reading_score_12th'] = (reading_score_summary_copy['reading_score_12th']/100).map('{:.2%}'.format)

#Rename Columns as per given format

reading_score_summary.rename(columns ={"reading_score_9th":"9th","reading_score_10th":"10th","reading_score_11th":"11th",
                                    "reading_score_12th":"12th" })

                             9th       10th       11th       12th

Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [7]:
# Sample bins. Feel free to create your own bins.

spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [8]:

score_by_school_df =  pd.DataFrame(school_summary_dict)


score_by_school_df["Spending Ranges (Per Student)"] = pd.cut(score_by_school_df["Per Student Budget"], 
                                                                 spending_bins, labels=group_names)

summary_bin_spending = score_by_school_df[["Spending Ranges (Per Student)", "Average Math Score","Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

summary_bin_spending.groupby("Spending Ranges (Per Student)").mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Sample bins. Feel free to create your own bins.

size_bins = [0, 1000, 2000, 5000]
size_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [10]:
school_size =school_summary_df["size"].unique()

school_summary_size = {"School Type": school_type, "Size": school_size, 
                      "Average Math Score": school_avg_math, "Average Reading Score": school_avg_reading,
                      "% Passing Math": mpass_per_school, "% Passing Reading": rpass_per_school,
                      "Overall Passing Rate": avg_school_score}

#create a data frame with the dictionary

school_summary_size_df = pd.DataFrame(school_summary_size)
school_summary_size_df["School Size"] = pd.cut(school_summary_size_df["Size"], size_bins, labels=size_names)

summary_bin_size = school_summary_size_df[["School Size", "Average Math Score","Average Reading Score", "% Passing Math", 
                   "% Passing Reading", "Overall Passing Rate"]]

summary_bin_size.groupby("School Size").mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

## Scores by School Type

* Perform the same operations as above, based on school type.

In [11]:
score_type_df = school_summary_dict_df
score_type_df.set_index('School Type')
score_type_df = school_summary_dict_df.drop('Total Students',axis=1)


score_type_df.groupby("School Type").mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738